body {
    padding-top: 5rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.navbar {
    margin-bottom: 2rem;
}

.fade {
    opacity: 0;
    scale: 0.95;
    animation: fadeIn 0.3s ease-in-out forwards;
}

.fade2 {
    opacity: 0;
    scale: 0.95;
    animation: fadeIn 0.2s ease-in-out forwards;
    animation-delay: 0.1s;
}

.fade3 {
    opacity: 0;
    scale: 0.95;
    animation: fadeIn 0.2s ease-in-out forwards;
    animation-delay: 0.2s;
}

.fade4 {
    opacity: 0;
    scale: 0.95;
    animation: fadeIn 0.2s ease-in-out forwards;
    animation-delay: 0.3s;
}

.fade5 {
    opacity: 0;
    scale: 0.95;
    animation: fadeIn 0.2s ease-in-out forwards;
    animation-delay: 0.4s;
}

.fade6 {
    opacity: 0;
    scale: 0.95;
    animation: fadeIn 0.2s ease-in-out forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        scale: 0.95;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    transition: transform 0.4s ease-out;
    transform: translateY(0);
}

.pop {
    opacity: 0;
    scale: 0.6;
    transform: translateY(-50px);
    animation: popIn 0.3s ease-in-out forwards;
    animation-delay: 0.5s;
}

@keyframes popIn {
    from {
        opacity: 0;
        scale: 0.4;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        scale: 1;
        transform: translateY(0px);
    }
}

.nav-link {
    transition: scale 0.2s ease-in-out;
}

.nav-link:active {
    scale: 1.03;
}